.userContainer {
  padding-bottom: 14px;
  display: flex;
  border-bottom: 1px solid #ebebe4;
  margin-bottom: 14px;
}
.userName {
  display: flex;
  align-items: center;
  margin-left: 28px;
}
.avatarContainer {
  padding-right: 14px;
}
.lineBreak {
  height: 100%;
  border: 1px solid #ebebe4;
}
