.introductionBarContainer {
  padding: 0.75rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  background-color: #c4c4c4;
}
.introductionBarContainer ul {
  list-style: none;
  display: flex;
  margin: auto;
}
.chatRoomName {
  color: #000000;
  align-items: center;
  text-align: center;
}
.chatRoomName h3 {
  margin: 0;
}
.chatRoomName:hover {
  color: #f0ebe3;
}

.actionButton {
  background-color: #c4c4c4;
  color: #000000;
}

.actionButton:hover {
  color: #f0ebe3;
}

.navbarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
